#top-bar {
  background-color: white;
  width: full;
  height: fit-content;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}
.main {
  top: 55%;
}

#grid-title{
  margin:20px;
}